.footer__column_content_copyright {
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    flex-basis: 711px;
    width: auto;
}

.footer__column {
    flex-direction: column;
}

.footer__column_content_info {
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
}

.footer__column_content_social {
    align-items: center;
    width: auto;
    margin: 0;
    padding: 0;
}

.footer__column-heading {
    margin: 0;
    margin-bottom: 20px;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
}

.footer__column-link {
    display: block;
    margin: 0;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}